<br><br><br>
<div align="center">
    <table class="table table-striped table-hover " width="300">
        <thead>
        <th>Details</th>

        </thead>
        <tbody>
        <tr ng-repeat="found in wiki" class="success">
            <td>{{"Title: " + found.title}}</td>

        </tr>
        <tr ng-repeat="found in wiki" class="success">
            <td><a href="{{found.url}}">{{"URL: "+found.url}}></a></td>
        </tr>
        <tr ng-repeat="found in wiki" class="success">
            <td>{{"Abstract: "+found.abstract}}</td>
        </tr>
        <tr ng-repeat="found in wiki" class="success">
            <td>Categories: <ul ng-repeat="cat in found.categories" >

                <li><a href="#/categories/{{cat}}">{{cat}}</a></li>

            </ul></td>
        </tr>
        <tr ng-repeat="found in wiki" class="success">
            <td>Headings: <ul ng-repeat="disco in found.headings"><li>{{"Heading: "+disco.heading +", Position: " + disco.position}}</li></ul></td>
        </tr>
        <tr ng-repeat="found in wiki" class="success">
            <td>{{"Links: "+found.links}}</td>
        </tr>
        </tbody>
    </table>

</div>